
@{
    ViewBag.Title = "Ruudukko";
}

<h2>Ruudukkotestiä tässä vaan puuhataan</h2>
<button class="btn btn-info">Poista <span class="glyphicon glyphicon-trash"></span>  </button>
<p>&nbsp;</p>

<div class="row">
    <div class="col-md-4" style="background-color: red;">Vasen sarake</div>
    <div class="col-md-4" style="background-color: blue;">Keski sarake</div>
    <div class="col-md-4" style="background-color: lightpink;">Oikea sarake</div>
</div>

<div class="row">
    <div class="col-md-4" style="background-color: yellow;">Vasen alasarake</div>
    <div class="col-md-4" style="background-color: green;">Keski alasarake</div>
    <div class="col-md-4" style="background-color: darkseagreen;">Oikea alasarake</div>
</div>

